body {
    margin: 0;
}

#navbar {
    background-color: rgb(212, 212, 212);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#navbar .navbar-properties {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#navbar h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#start h1,
h2 {
    text-align: center;
}

#navbar img {
    width: 200px;
    height: 160px;
    padding: 10px;
}

#start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 15px 10px;
    margin: 0;
}

#start h1,
h2 {
    padding: 2px;
    margin: 0;
}

#sectionchooser nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    height: auto;
}

#sectionchooser nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#sectionchooser nav ul li {
    padding: 10px;
    height: auto;

}

#sectionchooser nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    background-color: rgb(212, 212, 212);
    display: inline-flex;
    width: 250px;
    text-align: center;
    justify-content: center;
    height: 80px;
    align-items: center;
    padding: 2px;
    border-radius: 20px;
}

#sectionchooser nav ul li a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.05);
    width: 270px;
    height: 90px;
    margin: -10px;
}

.line {
    width: 45%;
}

.text {
    width: 90%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;

}

.text p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

#alert {
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#alert a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.hidden {
    display: none;
}

.nothidden {
    display: flex;
}