body {
    margin: 0;
    background: lightgray;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: rgb(199, 199, 199);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 73, 73);


}

#navbar .navbar-properties {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#navbar h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#start h1,
h2 {
    text-align: center;
}

#navbar img {
    width: 200px;
    height: 160px;
    padding: 10px;
}

#start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 15px 10px;
    margin: 0;
}

#start h1,
h2 {
    padding: 2px;
    margin: 0;
}

#sectionchooser nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    height: auto;
}

#sectionchooser nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#sectionchooser nav ul li {
    padding: 10px;
    height: auto;

}

#sectionchooser nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    background-color: rgba(102, 102, 102, 0.514);
    display: inline-flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 40px;
    align-items: center;
    padding: 2px;
    border-radius: 20px;
    font-size: medium;
}

#sectionchooser nav ul li a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.05);
    width: 220px;
    height: 50px;
    margin: -10px;
}

.line {
    width: 45%;
}

.text {
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;

}

.text p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    word-spacing: 3px;
    letter-spacing: 3px;
}



#alert {
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#alert a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.hidden {
    display: none;
}

.nothidden {
    display: flex;
}

#textbody {
    min-width: 500px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#textbody h1 {
    font-size: 25px;
}

#textbody p {
    font-size: 15px;
}

.text img {
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    object-position: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.iframe {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}